@import "../../node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/main.css";
/*
FONT STYLES
*/
$fontStyle: 'ars-maquette-web', sans-serif;
$fontColor: #252627;
$whiteFontColor: #fff;
$lightBold: 300;
$mediumBold: 600;
$heavyBold: 900;
$redBackground: #bf1313;
$borderRadius: 3px;

/*
SCREEN SIZES
*/
$largeDesktop: 1440px;
$largeDesktopCap: 1439px;

$inBetweenLargeDesktop: 1438px;
$inBetweenLargeDesktopCap: 1040px;

$smallDesktop: 1024px;
$smallDesktopCap: 1023px;

$inBetweenSmallDesktop: 1040;
$inBetweenSmallDesktopCap: 780px;

$verticalTablet: 768px;
$verticalTabletCap: 767px;

$smallTablet: 600px;
$smallTabletCap: 599px;

$inBetweenSmallTablet: 598px;
$inBetweenSmallTabletCap: 380px;

$mobile: 250px;

body {
  margin: 0;
  font-size: 16px;
  font-family: $fontStyle;
  color: $fontColor;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

//LARGE DESKTOP
@media screen and (min-width: $largeDesktop) {

} 

//SMALL DESKTOP
@media screen and (min-width: $smallDesktop) and (max-width: $largeDesktopCap) {
  .container {
    margin: auto 150px;
  }
} 

//VERTICAL TABLET
@media screen and (min-width: $verticalTablet) and (max-width: $smallDesktopCap) {
  .container {
    margin: auto 25px;
  }
} 

//SMALL TABLET
@media screen and (min-width: $smallTablet) and (max-width: $verticalTabletCap) {
  .container {
    margin: auto 30px;
  }
} 

//IN BETWEEN SMALL TABLET
@media screen and (min-width: $inBetweenSmallTabletCap) and (max-width: $inBetweenSmallTablet) {

} 

//MOBILE
@media screen and (min-width: $mobile) and (max-width: $smallTabletCap){
  .container {
    margin: auto 12px;
  }
} 

//  _                         _                        _              
// ( )_                      ( )                      ( )             
// | ,_)   _    _ _   ______ | |__     __     _ _    _| |   __   _ __ 
// | |   /'_`\ ( '_`\(______)|  _ `\ /'__`\ /'_` ) /'_` | /'__`\( '__)
// | |_ ( (_) )| (_) )       | | | |(  ___/( (_| |( (_| |(  ___/| |   
// `\__)`\___/'| ,__/'       (_) (_)`\____)`\__,_)`\__,_)`\____)(_)   
//             | |                                                    
//             (_)                                                    

.TopHeader {
  &--container {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom: 1.5px solid lightgray;
  }
  &--title {
    font-size: 36px;
    font-weight: $heavyBold;
  }
}

//LARGE DESKTOP
@media screen and (min-width: $largeDesktop) {

} 

//SMALL DESKTOP
@media screen and (min-width: $smallDesktop) and (max-width: $largeDesktopCap) {
  .TopHeader {
    &--container {
      border-bottom: 2px solid lightgray;
    }
  }
} 

//VERTICAL TABLET
@media screen and (min-width: $verticalTablet) and (max-width: $smallDesktopCap) {
  .TopHeader {
    &--container {
      border-bottom: 2px solid lightgray;
    }
    &--title {
      font-size: 42px;
    }
    &--title-mobile {
      display: none;
      padding: auto;
    }
  }
} 

//SMALL TABLET
@media screen and (min-width: $smallTablet) and (max-width: $verticalTabletCap) {
  .TopHeader {
    &--title {
      font-size: 32px;
    }
    &--title-mobile {
      display: none;
      padding: auto;
    }
  }
} 

//MOBILE
@media screen and (min-width: $mobile) and (max-width: $smallTabletCap){
  .TopHeader {
    &--title {
      font-size: 26px;
    }
    &--title-mobile {
      display: none;
      padding: auto;
    }
  }
} 

// _   _  _____  _   _ 
// ( ) ( )(  _  )( ) ( )
// | `\| || (_) || | | |
// | , ` ||  _  || | | |
// | |`\ || | | || \_/ |
// (_) (_)(_) (_)`\___/'
// PUFFY     

.SideNav {
  &--container {
    // border: .5px solid lightblue;
    margin: 0px auto;
    padding-left: 0px;
  }
  &--row {
    // border: .5px solid lightgreen;
  }
  &--card-container {
    // border-bottom: .5px solid red;
  }
  &--card {
    // border: .5px solid red;
    color: gray;
    cursor: pointer;
  }
  &--display-icon {
    height: 24px;
    width: 24px;
    position: relative;
    top: 5px;
  }
  &--card-description {
    font-size: 22px;
    font-weight: $mediumBold;
    padding: 0px;
  }
}
.active {
  background-color: $redBackground;
  color: $whiteFontColor;
  font-weight: $mediumBold;
  border-radius: $borderRadius;
}

li {
  list-style-type: none;
}

//LARGE DESKTOP
@media screen and (min-width: $largeDesktop) {

} 

//SMALL DESKTOP
@media screen and (min-width: $smallDesktop) and (max-width: $largeDesktopCap) {
  .SideNav--container {
    display: none;
  }
} 

//Random Offset
@media screen and (min-width: 1025px) and (max-width: 1038px) {
  .SideNav--container {
    display: none;
  }
}

//VERTICAL TABLET
@media screen and (min-width: $verticalTablet) and (max-width: $smallDesktopCap) {
  .SideNav--container {
    display: none;
  }
} 

//SMALL TABLET
@media screen and (min-width: $smallTablet) and (max-width: $verticalTabletCap) {
  .SideNav--container {
    display: none;
  }
} 

//Mobile
@media screen and (min-width: $mobile) and (max-width: $smallTabletCap){
  .SideNav--container {
    display: none;
  }
}

// ___    ___    ___   _____  _  _____  _   _ 
// (  _`\ (  _`\ (  _`\(_   _)(_)(  _  )( ) ( )
// | (_(_)| (_(_)| ( (_) | |  | || ( ) || `\| |
// `\__ \ |  _)_ | |  _  | |  | || | | || , ` |
// ( )_) || (_( )| (_( ) | |  | || (_) || |`\ |
// `\____)(____/'(____/' (_)  (_)(_____)(_) (_)
// PUFFY

.SideSection {
  &--container {
    // border: .5px solid lightblue;
    padding: 0px;
  }
  &--row {
    margin: 0px !important;
    // border: .5px solid lightgreen;
  }
  &--card-container {
    // border: .5px solid yellow;
    border-bottom: .5px solid lightgray;
  }
  &--card-preview {
    padding-left: 0px;
    cursor: pointer;
    position: relative;
    // margin: auto 0px auto 0px;
  }
  &--card-duration-container {
    background-color: $redBackground;
    display: inline-block;
    width: 100%;
    max-width: 85px;
    border-radius: $borderRadius;
    color: $whiteFontColor;
    font-weight: $mediumBold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 133px;
    left: 8px;
  }
  &--card-icon {
    color: $redBackground;
  }
  &--card-duration {
    font-size: 16px;
    font-weight: $mediumBold;
    letter-spacing: .05em;
  }

  &--card-info {
    padding-left: 0px;
    padding-right: 0px;
  }
  &--post-header {
    font-size: 14px;
    color: $redBackground;
    font-weight: $mediumBold;
    margin: 0 0 10px 0;
  }
  &--post-time {
    margin: 0px 5px 0 0;
  }
  &--post-comment {
    margin: 0px 5px 0 0;
    cursor: pointer;
  }
  &--post-comment-count {

  }
  &--post-title {
    color: black;
    font-size: 18px;
    font-weight: $mediumBold;
    cursor: pointer;
  }
  &--img {
    width: 100%;
    height: 100%;
    max-width: 285px;
    max-height: 172px;
    border-radius: $borderRadius;
  }
  &--msg-logo {
    width: 15px;
    height: 15px;
  }
}

.circle {
  background-color: $whiteFontColor;
  display: inline-block;
  width: 20px;
  margin-right: 7px;
  border-radius: 50%;
  padding-left: 2px;
}

.fa-play {
  font-size: .60rem;
  display: inline-block;
  vertical-align: middle;
}

.stretched {
  max-width: 105px;
}

.hidden {
  display: none;
}

//LARGE DESKTOP
@media screen and (min-width: $largeDesktop) {

} 

//SMALL DESKTOP
@media screen and (min-width: $smallDesktop) and (max-width: $largeDesktopCap) {
  .SideSection {
    &--img {
      width: 100%;
      height: 100%;
      max-width: 330px;
      max-height: 200px;
      border-radius: 3px;
    }
    &--post-title {
      color: black;
      font-size: 22px;
      line-height: 1.90rem;
    }
    &--card-duration-container {
      background-color: #bf1313;
      display: inline-block;
      width: 100%;
      max-width: 85px;
      border-radius: 3px;
      color: #fff;
      font-weight: 600;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      position: absolute;
      top: 158px;
      left: 8px;
    }
    &--filler {
      display: none;
    }
  }
  .hidden {
    display: none;
  }
} 

//VERTICAL TABLET
@media screen and (min-width: $verticalTablet) and (max-width: $smallDesktopCap) {
  .SideSection {
    &--img {
      width: 100%;
      height: 100%;
      max-width: 450px;
      max-height: 200px;
      border-radius: 3px;
    }
    &--post-title {
      color: black;
      font-size: 22px;
      line-height: 1.90rem;
      font-weight: $lightBold;
    }
    &--card-duration-container {
      top: 160px;
      left: 12px;
    }
  }
} 

//SMALL TABLET
@media screen and (min-width: $smallTablet) and (max-width: $verticalTabletCap) {
  .SideSection {
    &--post-title {
      color: black;
      font-size: 18px;
      line-height: 1.5rem;
      font-weight: $lightBold;
    }
    &--card-duration-container {
      top: 118px;
      left: 6px;
    }
  }
} 

// IN BETWEEN SMALL TABLET
@media screen and (min-width: $inBetweenSmallTabletCap) {
  .SideSection {
    &--img {
      width: 100%;
      height: 100%;
      max-width: 425px;
      max-height: 300px;
      border-radius: 3px;
    }
    &--post-title {
      font-weight: $lightBold;
    }
  }
} 

//MOBILE
@media screen and (min-width: $mobile) and (max-width: $inBetweenSmallTabletCap){
  .SideSection {
    &--img {
      width: 100%;
      height: 100%;
      max-width: 160px;
      max-height: 85px;
      border-radius: 3px;
    }
    &--post-title {
      color: black;
      font-size: 15px;
      line-height: 1.15rem;
      font-weight: $lightBold;
    }
    &--card-duration-container {
      display: inline-block;
      width: 100%;
      height: 100%;
      max-height: 20px;
      max-width: 40px;
      border-radius: 4px;
      position: absolute;
      top: 60px;
      left: 6px;
    }
    &--card-duration {
      display: none;
    }
  }
  .circle {
    display: inline-block;
    width: 20px;
    margin-right: 0px;
    border-radius: 50%;
  }
  .hidden {
    display: none;
  }
}

// ______   ___   ____  ____    ____  __ __ 
// |      | /   \ |    \|    \  /    ||  |  |
// |      ||     ||  o  )  _  ||  o  ||  |  |
// |_|  |_||  O  ||   _/|  |  ||     ||  |  |
//   |  |  |     ||  |  |  |  ||  _  ||  :  |
//   |  |  |     ||  |  |  |  ||  |  | \   / 
//   |__|   \___/ |__|  |__|__||__|__|  \_/  
                                        
.MobileNav {
  &--container {
    display: none;
    position: relative;
    margin: auto 20px;
    padding-right: 10px;
    height: 25px;
    bottom: 3px;
    font-size: 18px;
  }
}

//LARGE DESKTOP
@media screen and (min-width: $largeDesktop) {

} 

//SMALL DESKTOP
@media screen and (min-width: $smallDesktop) and (max-width: $largeDesktopCap) {
  .MobileNav {
    &--container {
      display: inline-block;
    }
  }
  .TopHeader {
    &--title-mobile {
      display: none;
      padding: auto;
    }
  }
} 

//Random Offset
@media screen and (min-width: 1025px) and (max-width: 1038px) {
  .MobileNav {
    &--container {
      display: inline-block;
    }
  }
  .TopHeader {
    &--title-mobile {
      display: none;
      padding: auto;
    }
  }
}

//VERTICAL TABLET
@media screen and (min-width: $verticalTablet) and (max-width: $smallDesktop) {
  .MobileNav {
    &--container {
      display: inline-block;
      font-size: 24px;
      height: 30px;
      bottom: 3px;
    }
  }
} 

//SMALL TABLET
@media screen and (min-width: $smallTablet) and (max-width: $verticalTabletCap) {
  .MobileNav {
    &--container {
      display: inline-block;
      margin: auto 15px;
      font-size: 22px;
      height: 30px;
      bottom: 3px;
    }
  }
} 

//Mobile
@media screen and (min-width: $mobile) and (max-width: $smallTabletCap){
  .MobileNav {
    &--container {
      display: inline-block;
      margin: auto 15px;
      font-size: 18px;
      height: 28px;
      bottom: 2.5px;
      padding-right: 4px;
    }
  }
}