@import "../../node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/main.css";
/*
FONT STYLES
*/
$fontStyle: 'ars-maquette-web', sans-serif;
$fontColor: #252627;
$whiteFontColor: #fff;
$lightBold: 300;
$mediumBold: 600;
$heavyBold: 900;
$redBackground: #bf1313;
$borderRadius: 3px;

/*
SCREEN SIZES
*/
$largeDesktop: 1440px;
$largeDesktopCap: 1439px;

$inBetweenLargeDesktop: 1438px;
$inBetweenLargeDesktopCap: 1040px;

$smallDesktop: 1024px;
$smallDesktopCap: 1023px;

$inBetweenSmallDesktop: 1040;
$inBetweenSmallDesktopCap: 780px;

$verticalTablet: 768px;
$verticalTabletCap: 767px;

$smallTablet: 600px;
$smallTabletCap: 599px;

$inBetweenSmallTablet: 598px;
$inBetweenSmallTabletCap: 380px;

$mobile: 250px;

body {
  margin: 0;
  font-size: 16px;
  font-family: $fontStyle;
  color: $fontColor;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

/* for sumo sized (mac) screens */
@media only screen and (min-width: 2000px) {
  .container {
    margin: auto auto !important;
  }
}

/* styles for browsers larger than 1440px; */
@media only screen and (min-width: 1440px) {
  .container {
    margin: auto auto !important;
  }
}

/* styles for browsers larger than 960px; */
@media only screen and (min-width: 960px) {
  .container {
    margin: auto 20px;
  }
}

/* default iPad screens */
@media only screen and (device-width: 768px) {
  .container {
    margin: auto 15px;
  }
}

/* styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width: 480px) {
  .container {
    margin: auto 12px;
  }
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
/* For portrait layouts only */
  .container {
    margin: auto 20px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/* For landscape layouts only */
  .container {
    margin: auto 15px;
  }
}

//  _                         _                        _              
// ( )_                      ( )                      ( )             
// | ,_)   _    _ _   ______ | |__     __     _ _    _| |   __   _ __ 
// | |   /'_`\ ( '_`\(______)|  _ `\ /'__`\ /'_` ) /'_` | /'__`\( '__)
// | |_ ( (_) )| (_) )       | | | |(  ___/( (_| |( (_| |(  ___/| |   
// `\__)`\___/'| ,__/'       (_) (_)`\____)`\__,_)`\__,_)`\____)(_)   
//             | |                                                    
//             (_)                                                    

.TopHeader {
  &--container {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom: 1.5px solid lightgray;
  }
  &--title {
    font-size: 36px;
    font-weight: $heavyBold;
  }
}

// /* for sumo sized (mac) screens */
@media only screen and (min-width: 2000px) {

}

// /* styles for browsers larger than 1440px; */
@media only screen and (min-width: 1440px) {
  .TopHeader {
    &--container {
      border-bottom: 1.5px solid lightgray !important;
    }
    &--title-mobile {
      display: inline !important;
    }
  }
}

/* styles for browsers larger than 960px; */
@media only screen and (min-width: 960px) {
  .TopHeader {
    &--container {
      border-bottom: 2px solid lightgray;
    }
    &--title-mobile {
      display: none;
      padding: auto;
    }
  }
}

/* default iPad screens */
@media only screen and (device-width: 768px) {
  .TopHeader {
    &--container {
      border-bottom: 2px solid lightgray;
    }
    &--title {
      font-size: 42px;
    }
    &--title-mobile {
      display: none;
      padding: auto;
    }
  }
}

/* styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width: 480px) {
  .TopHeader {
    &--title {
      font-size: 26px;
    }
    &--title-mobile {
      display: none;
      padding: auto;
    }
  }
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
/* For portrait layouts only */
  .TopHeader {
    &--title {
      font-size: 42px;
    }
    &--title-mobile {
      display: none;
      padding: auto;
    }
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/* For landscape layouts only */
  .TopHeader {
    &--container {
      border-bottom: 2px solid lightgray;
    }
    &--title {
      font-size: 42px;
    }
    &--title-mobile {
      display: none;
      padding: auto;
    }
  }
}


// _   _  _____  _   _ 
// ( ) ( )(  _  )( ) ( )
// | `\| || (_) || | | |
// | , ` ||  _  || | | |
// | |`\ || | | || \_/ |
// (_) (_)(_) (_)`\___/'
// PUFFY     

.SideNav {
  &--container {
    // border: .5px solid lightblue;
    margin: 0px auto;
    padding-left: 0px;
  }
  &--row {
    // border: .5px solid lightgreen;
  }
  &--card-container {
    // border-bottom: .5px solid red;
  }
  &--card {
    // border: .5px solid red;
    color: gray;
    cursor: pointer;
  }
  &--display-icon {
    height: 24px;
    width: 24px;
    position: relative;
    top: 5px;
  }
  &--card-description {
    font-size: 22px;
    font-weight: $mediumBold;
    padding: 0px;
  }
}
.active {
  background-color: $redBackground;
  color: $whiteFontColor;
  font-weight: $mediumBold;
  border-radius: $borderRadius;
}

li {
  list-style-type: none;
}

// /* for sumo sized (mac) screens */
@media only screen and (min-width: 2000px) {
  .SideNav--container {
    display: inline !important;
  }
}

// /* styles for browsers larger than 1440px; */
@media only screen and (min-width: 1440px) {
  .SideNav--container {
    display: inline !important;
  }
}

/* styles for browsers larger than 960px; */
@media only screen and (min-width: 960px) {
  .SideNav--container {
    display: none;
  }
  //blindspot
  @media screen and (min-device-width: 1040px) and (max-device-width: 1439px) {
    .SideNav {
      &--container {
        display: inline !important;
        margin: 0px;
      }
    }
  }
}

/* default iPad screens */
@media only screen and (device-width: 768px) {
  .SideNav--container {
    display: none;
  }
}

/* styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width: 480px) {
  .SideNav--container {
    display: none;
  }
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
/* For portrait layouts only */
  .SideNav--container {
    display: none;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/* For landscape layouts only */
  .SideNav--container {
    display: none;
  }
}

// ___    ___    ___   _____  _  _____  _   _ 
// (  _`\ (  _`\ (  _`\(_   _)(_)(  _  )( ) ( )
// | (_(_)| (_(_)| ( (_) | |  | || ( ) || `\| |
// `\__ \ |  _)_ | |  _  | |  | || | | || , ` |
// ( )_) || (_( )| (_( ) | |  | || (_) || |`\ |
// `\____)(____/'(____/' (_)  (_)(_____)(_) (_)
// PUFFY

.SideSection {
  &--container {
    // border: .5px solid lightblue;
    padding: 0px;
  }
  &--row {
    margin: 0px !important;
    // border: .5px solid lightgreen;
  }
  &--card-container {
    // border: .5px solid yellow;
    border-bottom: .5px solid lightgray;
  }
  &--card-preview {
    padding-left: 0px;
    cursor: pointer;
    position: relative;
    // margin: auto 0px auto 0px;
  }
  &--card-duration-container {
    background-color: $redBackground;
    display: inline-block;
    width: 100%;
    max-width: 85px;
    border-radius: $borderRadius;
    color: $whiteFontColor;
    font-weight: $mediumBold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
  }
  &--card-icon {
    color: $redBackground;
  }
  &--card-duration {
    font-size: 16px;
    font-weight: $mediumBold;
    letter-spacing: .05em;
  }

  &--card-info {
    padding-left: 0px;
    padding-right: 0px;
  }
  &--post-header {
    font-size: 14px;
    color: $redBackground;
    font-weight: $mediumBold;
    margin: 0 0 10px 0;
  }
  &--post-time {
    margin: 0px 5px 0 0;
  }
  &--post-comment {
    margin: 0px 5px 0 0;
    cursor: pointer;
  }
  &--post-comment-count {

  }
  &--post-title {
    color: black;
    font-size: 18px;
    font-weight: $mediumBold;
    cursor: pointer;
  }
  &--post-title:hover{
    color: #1E90FF;
    text-decoration: underline;
  }
  &--img {
    width: 100%;
    height: 100%;
    max-width: 285px;
    max-height: 172px;
    border-radius: $borderRadius;
  }
  &--msg-logo {
    width: 15px;
    height: 15px;
  }
}

.circle {
  background-color: $whiteFontColor;
  display: inline-block;
  width: 20px;
  margin-right: 7px;
  border-radius: 50%;
  padding-left: 2px;
}

.fa-play {
  font-size: .60rem;
  display: inline-block;
  vertical-align: middle;
}

.stretched {
  max-width: 105px;
}

.hidden {
  display: none;
}

// /* for sumo sized (mac) screens */
@media only screen and (min-width: 2000px) {
  .SideSection {
    &--post-title {
      line-height: normal !important;
      font-weight: $mediumBold !important;
    }
    &--card-duration-container {
      top: 180px !important;
      left: 15px;
    }
  }
}

// /* styles for browsers larger than 1440px; */
@media only screen and (min-width: 1440px) {
  .SideSection {
    &--post-title {
      line-height: normal !important;
      font-weight: $mediumBold !important;
    }
    &--card-duration-container {
      top: 130px !important;
      left: 15px;
    }
  }
}

/* styles for browsers larger than 960px; */
@media only screen and (min-width: 960px) {
  .SideSection {
    &--post-title {
      font-size: 22px !important;
      line-height: 1.90rem;
      font-weight: $lightBold;
    }
    &--img {
      width: 100%;
      height: 100%;
      max-width: 400px;
      max-height: 250px;
      border-radius: 3px;
    }
    &--card-duration-container {
      top: 180px;
      left: 15px;
    }
  }
  .hidden {
    display: none;
  }
  @media screen and (min-device-width: 1040px) and (max-device-width: 1155px) {
    .SideSection {
      &--card-duration-container {
        top: 110px;
        left: 15px;
      }
    }
  }
  @media screen and (min-device-width: 1156px) and (max-device-width: 1439px) {
    .SideSection {
      &--card-duration-container {
        top: 125px;
        left: 15px;
      }
    }
  }
  //resize for blindspot
  @media screen and (min-device-width: 1040px) and (max-device-width: 1439px) {
    .SideSection {
      &--filler {
        display: none;
      }
    }
  }
}

/* default iPad screens */
@media only screen and (device-width: 768px) {
  .SideSection {
    &--post-title {
      line-height: 1.90rem;
      font-weight: $lightBold;
      font-size: 20px !important;
    }
  }
}

/* styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width: 480px) {
  .SideSection {
    &--post-title {
      font-weight: $lightBold;
      font-size: 15px;
    }
    &--card-duration {
      display: none;
    }
    &--card-duration-container {
      display: inline-block;
      width: 100%;
      height: 100%;
      max-height: 20px;
      max-width: 40px;
      border-radius: 4px;
      position: absolute;
      top: 60px;
      left: 6px;
    }
  }
  .circle {
    display: inline-block;
    width: 20px;
    margin-right: 0px;
    border-radius: 50%;
  }
  .hidden {
    display: none;
  }
  /* styles for mobile browsers that's in our blind spot (430-480) */
  @media only screen and (min-device-width: 430px) and (max-device-width: 480px) {
    .SideSection {
      &--card-duration-container {
        display: inline-block;
        width: 80%;
        height: 80%;
        max-height: 18px;
        max-width: 40px;
        border-radius: 4px;
        position: absolute;
        top: 85px481;
        left: 6px;
      }
    }
    .hidden {
      display: none;
    }
  }
}


/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
/* For portrait layouts only */
  .SideSection {
    &--post-title {
      font-weight: $lightBold;
      font-size: 20px !important;
    }
  }
  /* styles for tablet browsers that's in our blind spot */
  @media only screen and (min-device-width: 885px) and (orientation:portrait) {
    .SideSection {
      &--card-duration-container {
        top: 200px !important;
        left: 12px;
      }
    }
  }
  /* styles for tablet browsers that's in our blind spot */
  @media only screen and (min-device-width: 768px) and (orientation:portrait) {
    .SideSection {
      &--img {
        width: 100%;
        height: 100%;
        max-width: 450px;
        max-height: 250px;
        border-radius: 3px;
      }
      &--card-duration-container {
        top: 170px;
        left: 12px;
      }
    }
  }
  /* styles for tablet browsers that's in our blind spot */
  @media only screen and (min-device-width: 581px) and (max-device-width: 767px) and (orientation:portrait) {
    .SideSection {
      &--img {
        width: 100%;
        height: 100%;
        max-width: 325px;
        max-height: 200px;
        border-radius: 3px;
      }
      &--card-duration-container {
        top: 120px;
        left: 8px;
      }
    }
  }
  /* styles for tablet browsers that's in our blind spot */
  @media only screen and (min-device-width: 522px) and (max-device-width: 580px) and (orientation:portrait) {
    .SideSection {
      &--card-duration-container {
        top: 105px;
        left: 6px;
      }
    }
  }
  @media only screen and (min-device-width: 481px) and (max-device-width: 521px) and (orientation:portrait) {
    .SideSection {
      &--card-duration-container {
        top: 85px;
        left: 6px;
      }
    }
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/* For landscape layouts only */
  .SideSection {
    &--post-title {
      line-height: 1.90rem;
      font-weight: $lightBold;
      font-size: 20px;
    }
    &--img {
      width: 100%;
      height: 100%;
      max-width: 450px;
      max-height: 300px;
      border-radius: 3px;
    }
    &--card-duration-container {
      top: 220px;
      left: 12px;
    }
  }
  /* styles for tablet browsers that's in our blind spot */
  @media only screen and (min-device-width: 885px) and (orientation:landscape) {
    .SideSection {
      &--card-duration-container {
        top: 200px !important;
        left: 12px;
      }
    }
  }
  /* styles for tablet browsers that's in our blind spot */
  @media only screen and (min-device-width: 768px) and (orientation:landscape) {
    .SideSection {
      &--img {
        width: 100%;
        height: 100%;
        max-width: 450px;
        max-height: 250px;
        border-radius: 3px;
      }
      &--card-duration-container {
        top: 170px;
        left: 12px;
      }
    }
  }
  /* styles for tablet browsers that's in our blind spot */
  @media only screen and (min-device-width: 581px) and (max-device-width: 767px) and (orientation:landscape) {
    .SideSection {
      &--img {
        width: 100%;
        height: 100%;
        max-width: 325px;
        max-height: 200px;
        border-radius: 3px;
      }
      &--card-duration-container {
        top: 120px;
        left: 8px;
      }
    }
  }
  /* styles for tablet browsers that's in our blind spot */
  @media only screen and (min-device-width: 522px) and (max-device-width: 580px) and (orientation:landscape) {
    .SideSection {
      &--card-duration-container {
        top: 105px;
        left: 6px;
      }
    }
  }
}


// ______   ___   ____  ____    ____  __ __ 
// |      | /   \ |    \|    \  /    ||  |  |
// |      ||     ||  o  )  _  ||  o  ||  |  |
// |_|  |_||  O  ||   _/|  |  ||     ||  |  |
//   |  |  |     ||  |  |  |  ||  _  ||  :  |
//   |  |  |     ||  |  |  |  ||  |  | \   / 
//   |__|   \___/ |__|  |__|__||__|__|  \_/  
                                        
.MobileNav {
  &--container {
    display: none;
    position: relative;
    margin: auto 20px;
    padding-right: 10px;
    height: 25px;
    bottom: 3px;
    font-size: 18px;
  }
}

//LARGE DESKTOP
@media screen and (min-width: $largeDesktop) {

} 

// /* for sumo sized (mac) screens */
@media only screen and (min-width: 2000px) {

}

// /* styles for browsers larger than 1440px; */
@media only screen and (min-width: 1440px) {
  .MobileNav {
    &--container {
      display: none !important;
    }
  }
}

/* styles for browsers larger than 960px; */
@media only screen and (min-width: 960px) {
  .MobileNav {
    &--container {
      display: inline-block;
    }
  }
  .TopHeader {
    &--title-mobile {
      display: none;
      padding: auto;
    }
  }
  //blindspot
  @media screen and (min-device-width: 1040px) and (max-device-width: 1439px) {
    .MobileNav {
      &--container {
        display: none;
      }
    }
    .TopHeader {
      &--title-mobile {
        display: inline;
        padding: auto;
      }
    }
  }
}

/* default iPad screens */
@media only screen and (device-width: 768px) {
  .MobileNav {
    &--container {
      display: inline-block;
      font-size: 24px;
      height: 30px;
      bottom: 3px;
    }
  }
}

/* styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width: 480px) {
  .MobileNav {
    &--container {
      display: inline-block;
      margin: auto 15px;
      font-size: 18px;
      height: 28px;
      bottom: 2.5px;
      padding-right: 4px;
    }
  }
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
/* For portrait layouts only */
  .MobileNav {
    &--container {
      display: inline-block;
      font-size: 24px;
      height: 30px;
      bottom: 3px;
    }
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/* For landscape layouts only */
  .MobileNav {
    &--container {
      display: inline-block;
      margin: auto 15px;
      font-size: 22px;
      height: 30px;
      bottom: 3px;
    }
  }
}