@import "../../node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/main.css";

.TopHeader {
  &--container {
    border-bottom: .5px solid lightgray;
    padding-left: 0px;
    padding-right: 0px;
  }
  &--title {
    font-size: 36px;
    font-weight: 900;
  }
}